@media screen and (max-width: 1600px ) {
    .project-flex section {min-height: 530px;}
    .for-fun-projects-flex section {min-height: 600px;}
}

@media screen and (max-width: 1300px) {
    .wrapper {padding:0 20px;}
    .project-flex { flex-wrap: wrap; }
    .project-flex section {max-width: 330px;}
}

@media screen and (max-width: 1024px) {

    header {transform: translateX(-290px); }
    .wrapper {margin: 0;}
    .close-btn, .burger-btn{display:block;}
    .for-fun-projects-flex section .project-content .tools-used ul {flex-wrap: wrap;}
    .for-fun-projects-flex section {min-height: 590px;}
    .project-flex section {max-width: 380px;}
    #banner::before {left: 0;}

    header.wow,.banner-con .banner-content p.wow, .icons-con.wow,.banner-content .btn.wow {animation: none !important; visibility: unset !important;}
   

}

@media screen and (max-width: 800px) {
    .main-con {padding: 80px 15px 80px;}
    .main-flex { flex-wrap: wrap;padding-top: 40px; }
    .main-flex section:last-child {max-width: 680px; text-align: center; }
    .main-btn {margin: 20px auto 0;}

    #tech-stack {padding: 80px 15px 20px; }
    .tech-stack-icons-con section:nth-child(8) {top: 18%; left: 75%;}
    .tech-stack-icons-con section:nth-child(5) {top: 56%; left: 73%; }
    .tech-stack-icons-con {min-height: 570px; } 

    .for-fun-projects > h2::before {font-size: 55px; }

    #footer h3 {letter-spacing: 20px;}
    #Mod_container {width: 95%;}
   

}
@media screen and (max-width: 600px) {

    #myModal.modal{bottom: 75px; width: 90%;}
    #myModal .modal-header h2{font-size: 25px;}
    #myModal .modal-body .container{text-align: center;}
    .open_modal{bottom: 45px; width: 30px; height: 30px; display: flex; justify-content: center; align-items: center; background: #000;}
    .open_modal figure{display: flex; justify-content: center; align-items: center;}
 
    .modal_left img{width: 20px;}

    .main-con > h2::before {font-size: 65px;}
    .shuriken-wrap {right: -10px; top: 90px; }

    .tech-stack-con > h2::before {font-size: 65px; }
    .tech-stack-icons-con section:nth-child(1) {left: -5%; }
    .tech-stack-icons-con section:nth-child(11) {left: -6%; }
    .tech-stack-icons-con section:nth-child(6) {top: 34%; }
    .tech-stack-icons-con section:nth-child(7) {left: 11%; }
    .tech-stack-icons-con section:nth-child(10) {top: 85%; left: 50%; }
    .tech-stack-icons-con section:nth-child(3) {top: 43%; }
    .tech-stack-icons-con section:nth-child(8) {left: 58%; }
    .tech-stack-icons-con section:nth-child(5) {left: 63%; }

    .footer-con > h2::before {font-size: 65px; }
    #footer h3 {font-size: 60px; letter-spacing: 10px; }
    .Mod_text figure img {width: 100%;} 


}